.blog-masthead {
    background-color: #222;
    overflow: hidden;
}

.blog-masthead > .container {
    height: 50px;
}

.navbar-inverse {
    border-width: 0px;
}

a:hover {
    text-decoration: none;
    color: #333;
}

body {
    background-color: #FCFCFC;
}

h2 > a {
    color: #333;
}

hr {
    border-top: 2px dotted #B3B3B3;
}

li > a:hover {
    font-size: 1.4em;
}

pre {
    padding: 0px;
}