#comment_area {
    border-radius: 5px;
    border: 1px solid #808080;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px gray;
}

.blog-masthead {
    background-color: #222;
    overflow: hidden;
}

.blog-masthead > .container {
    height: 50px;
}

.comment:nth-child(odd) {
    background-color: #E6E6E6;
}

.liked {
    font-style: italic;
    background-color: #DEF1DE;
    color: #6F786F;
}

.navbar-inverse {
    border-width: 0px;
}

a:hover {
    text-decoration: none;
    color: #333;
}

body {
    background-color: #FCFCFC;
}

h2 > a {
    color: #333;
}

hr {
    border-top: 2px dotted #B3B3B3;
}

li > a:hover {
    font-size: 1.4em;
}

pre {
    padding: 0px;
}