{% extends "blog/base.html" %}

{% load staticfiles %}

{% if post %}

    {% block title %} {{ post.title }} {% endblock %}

    {% block body_block %}
        <h3>{{ post.title }}</h3>
        <br/>
        <h4>{{ post.pubDate }}</h4>
        <br/>
        <p>{{ post.body }}</p>
        <p>Likes - {{ post.likes }}</p>
        <hr/>
        <h5>There are {{ num_comments }} comment(s)</h5>
        <br/>
        {% if user.is_authenticated %}
            <h4>Post a comment</h4>
            <form id="comment_form" method="" action="">
            {% csrf_token %}
            <textarea id="comment_area" name="comment_area" rows="5" cols="50"></textarea>
                <br/>
                <input type="submit" name="submit" value="Submit"/>
            </form>
        {% else %}
            <h4>Log in to post a comment</h4>
        {% endif %}
        <br/>
        {% if comments %}
            <div class="row" id="comments">            
            {% for c in comments %}
                <div class="comment">
                    <em>{{ c.author }} - {{ c.pubDate }}</em>
                    <br/>
                    <p>{{ c.body }}</p>
                    <p>Likes - {{ c.likes }}</p>
                    <hr/>
                </div>
            {% endfor %}
            </div>
    {% endblock %}

{% else %}

    <h1><strong>No blog post found by that name</strong></h1>

{% endif %}
