.blog-masthead {
    background-color: #222;
    overflow: hidden;
}

.blog-masthead > .container {
    height: 50px;
}

.navbar-inverse {
    border-width: 0px;
}

.liked {
    font-style: italic;
    background-color: #DEF1DE;
    color: #6F786F;
}

.comment:nth-child(odd) {
    background-color: #E6E6E6;
}

pre {
    padding: 0px;
}